<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/datatables")
    @Styles.Render("~/Content/datatables")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
 

    <style>
        #yellow {
            background-color: #fee344;
        }

        .maxsize {
            width: 100vw;
            color: white;
            text-shadow: 1px 0px 11px rgba(68,68,68,0.59);
        }

        .info {
            text-shadow: 1px 0px 11px rgba(68,68,68,0.22);
            color: #ff6a00;
        }

        .verticalLine {
            border-left: 6px solid white;
            height: 35vh;
            padding: 0;
        }

        .here:after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 50%;
            border-left: 2px dotted #ff0000;
            transform: translate(-50%);
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Imenik", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="jumbotron maxsize" id="yellow">
        <div class="container">

            <h1>Imenik</h1>
            <p class="lead">Online imenik</p>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Marko Mustač application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval") <!-- *required for client side validation! -->
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $("#myTable").DataTable();
        });
    </script>

</body>
</html>
