@model IEnumerable<pisProjekt.Models.upis>
@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-12">
        <table class="table table-hover" id="myTable">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Broj</th>
                    <th>Proširi</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var asd in Model)
                {

                    <tr>
                        <td>@asd.ime</td>
                        <td>@asd.prezime</td>
                        <td>+385 @asd.brojTelefona</td>
                        <td><button type="button" class="btn btn-info btn-sm" onclick="location.href='@Url.Action("info", "Home", new { id = asd.id })'">Info</button></td>
                        <td><button type="button" class="btn btn-success btn-sm" onclick="location.href='@Url.Action("edit", "Home", new { id = asd.id })'">Edit</button></td>
                        <td>
                            @Html.ActionLink(
                             "Obrisi",
                             "deleteUpis",
                             "Home",
                             new { id = asd.id },
                             new { onclick = "return confirm('Are you sure you wish to delete this article?');", @class = "btn btn-danger btn-sm" })

                        </td>
                    </tr>

                }
            </tbody>
            </table>
    </div>
</div>


